<a href="https://colab.research.google.com/github/deyaaa13/DataMining/blob/main/Pertemuan2_DataMining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Contoh sederhana pembuatan list pada bahasa pemrograman python
list1 = ['BigData & Data Mining', 'BigData dan Predictive Analytic', 2022, 2022]
list2 = ["buku", "pensil", "penggaris", "spidol", "bolpoin", "penghapus"]
list3 = ["a", "b", "c", "d"]

In [ ]:
#Cara mengakses nilai di dalam list python
print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  BigData & Data Mining
list2[1:5]:  ['pensil', 'penggaris', 'spidol', 'bolpoin']

In [ ]:
#tampilkan data pada list3 urutan ke-3 sebanyak 2 data
print ("list3[2:4]: ", list3[2:4])

list3[2:4]:  ['c', 'd']

In [ ]:
#tampilkan pensil dan penggaris dalam satu baris
#list2 = ["buku", "pensil", "penggaris", "spidol", "bolpoin", "penghapus"]

print(list2[1], '', list2[2])
print(list2[1:3])

pensil  penggaris
['pensil', 'penggaris']

In [ ]:
#DataFrame dari list
import pandas as pd

data = {'buah' : ['apel', 'pisang', 'jeruk', 'nanas', 'durian'],
        'sayur' : ['bayam', 'sawi', 'wortel', 'kentang', 'kacang'],
        'hewan' : ['kucing', 'kambing', 'sapi', 'kelinci', 'buaya']}

df = pd.DataFrame(data)
df.head() #hanya menampilkan 5 data teratas #df.tail() menampilkan 5 data terbawah

     buah    sayur    hewan
0    apel    bayam   kucing
1  pisang     sawi  kambing
2   jeruk   wortel     sapi
3   nanas  kentang  kelinci
4  durian   kacang    buaya

In [ ]:
#Tampilkan data Sapi
print(data['hewan'][2])

sapi

In [ ]:
#Tampilkan data Kucing
print(data['hewan'][0])

kucing

In [ ]:
#Tampilkan Kacang dan Kelinci dalam satu baris
print(data['sayur'][4], ' ', data['hewan'][3])

kacang   kelinci

TUPLE

In [ ]:
#Contoh Sederhana pembuatan tuple pada bahasa pemrograman python
tup1 = ('BigData & Data Mining', 'BigData & Predictive Analytic', 2022, 2022)
tup2 = (1, 2, 3, 4, 5)
tup3 = ("a", "b", "c", "d")

In [ ]:
type (tup1)

tuple

In [ ]:
#Menghitung jumlah data
len(tup2)

5

In [ ]:
#cara mengakses nilai tuple
print ("tup1[0]: ", tup1[0])
print ("tup2[1-4]: ", tup2[1:5])

tup1[0]:  BigData & Data Mining
tup2[1-4]:  (2, 3, 4, 5)

In [ ]:
#Tampilkan tup2 dan tup3 dalam satu baris
print (tup2, '&', tup3)
print (tup2+tup3)

(1, 2, 3, 4, 5) & ('a', 'b', 'c', 'd')
(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd')

In [ ]:
print(type(tup1[0]))
print(type(tup2[1]))
print(type(tup3[2]))

<class 'str'>
<class 'int'>
<class 'str'>

In [ ]:
#Buat tuple baru dengan isi 4 digit NIM masing-masing
#Contoh hasil : (3,2,0,1)
tup_nim = (3,7,2,5)
print(tup_nim)

(3, 7, 2, 5)

DICTIONARY

In [ ]:
#contoh cara membuat Dictionary pada Python
dict = {'Name': 'Dhea', 'Age': 20, 'Class': 'BigData1'}

print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

print (dict)

dict['Name']:  Dhea
dict['Age']:  20
{'Name': 'Dhea', 'Age': 20, 'Class': 'BigData1'}

In [ ]:
#Update dictionary python
dict['Age'] =8; #Mengubah entri yang sudah ada
dict['University'] = "Amikom"; #Menambah entri baru

print ("dict['Age']: ", dict['Age'])
print ("dict['University']: ", dict['University'])

print(dict)

dict['Age']:  8
dict['University']:  Amikom
{'Name': 'Dhea', 'Age': 8, 'Class': 'BigData1', 'University': 'Amikom'}

In [ ]:
#Tambahkan satu dictionary baru dengan identitas nama, umur, dan kelas masing-masing
#pada dictionary dict

#Dictionary dict nantinya akan menjadi bentuk list
print('Cara 1 : ')
dict = [dict, {'Name': 'Anggista', 'Age': 20, 'Class': 'BigData1'}]
print(dict)

print('\cara 2 : ')
dict = [{'Name': 'Anggista', 'Age': 20, 'Class': 'BigData1'},
        {'Name': 'Anggista', 'Age': 20, 'Class': 'BigData1'}]
print(dict)

Cara 1 :
[{'Name': 'Dhea', 'Age': 8, 'Class': 'BigData1', 'University': 'Amikom'}, {'Name': 'Anggista', 'Age': 20, 'Class': 'BigData1'}]
\cara 2 :
[{'Name': 'Anggista', 'Age': 20, 'Class': 'BigData1'}, {'Name': 'Anggista', 'Age': 20, 'Class': 'BigData1'}]

In [ ]:
#DataFrame dari Dictionary
data = [{'Name': 'Anggista', 'Age': 20, 'Class': 'BigData1'}, #Index ke-0
        {'Name': 'Dhea', 'Age': 20, 'Class': 'BigData1'}, #Index ke-1
        {'Name': 'Erda', 'Age': 20, 'Class': 'BigData1'}] #Index ke-2

df = pd.DataFrame(data)
df.head()

       Name  Age     Class
0  Anggista   20  BigData1
1      Dhea   20  BigData1
2      Erda   20  BigData1

DataFrame dari File

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
#Menampilkan data 15 teratas
df.head(15)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0
10,-118.24,33.98,45.0,972.0,249.0,1288.0,261.0,2.2054,125000.0
11,-119.12,35.85,37.0,736.0,166.0,564.0,138.0,2.4167,58300.0
12,-121.93,37.25,36.0,1089.0,182.0,535.0,170.0,4.6900,252600.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
14,-117.97,33.73,27.0,2097.0,325.0,1217.0,331.0,5.7121,222500.0

In [ ]:
#Memotong data dari baris ke-1 s/d baris ke-5
df.loc[1:5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0

In [ ]:
#4 data teratas dari kolom yang dipilih
df.loc[0:3, ['longitude', 'latitude', 'housing_median_age']]

   longitude  latitude  housing_median_age
0    -122.05     37.37                27.0
1    -118.30     34.26                43.0
2    -117.81     33.78                27.0
3    -118.36     33.82                28.0